<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<form [formGroup]="cardForm">
  <label for="creditcard">Add Credit card</label>
  <input type="text" formControlName="creditcard" class="form-control"/>
  <h2></h2>
  <button class="btn btn-primary" (click)="postCard(currentUser.username)">
    Post
  </button>
  <h2></h2>
  <label for="getcreditcard">Get your Credit card</label>
  <h2></h2>
  <label>{{creditcard}}</label>
  <h2></h2>
  <button class="btn btn-primary" (click)="getCard(currentUser.username)">
    Get
  </button>
</form>

